/target
../target

*.classpath
*.project
*.iml
*.MF
*.log

/.idea
.settings
*.sql
/logs
/bin/
src/main/webapp/WEB-INF/lib*
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib\r/
src/main/webapp/WEB-INF/.DS_Store
_common
lib
.classpath
/bin/
/bin/
/dblogs
